In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import datetime as dt

In [3]:
df = pd.read_csv('train.csv')

In [17]:
col = 'date'
df[col] = pd.to_datetime(df[col],format = '%Y-%m-%d')
df['year_month'] = pd.to_datetime(df[col]).dt.to_period('M')

In [5]:
df.head()

        date  store  item  sales
0 2013-01-01      1     1     13
1 2013-01-02      1     1     11
2 2013-01-03      1     1     14
3 2013-01-04      1     1     13
4 2013-01-05      1     1     10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
date     913000 non-null datetime64[ns]
store    913000 non-null int64
item     913000 non-null int64
sales    913000 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 27.9 MB

In [19]:
df.head()

        date  store  item  sales month_year year_month
0 2013-01-01      1     1     13    2013-01    2013-01
1 2013-01-02      1     1     11    2013-01    2013-01
2 2013-01-03      1     1     14    2013-01    2013-01
3 2013-01-04      1     1     13    2013-01    2013-01
4 2013-01-05      1     1     10    2013-01    2013-01